.inputStyle {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    border: 10px solid black;
    color: rgb(10, 51, 38);
}

#tab {
    height: 93vh;
    background-color: #12184a;
    /* height: 91vh; */
    display: flex;
    /* justify-content: space-around; */
    /* overflow-x: auto; */
    width: 100%;
    /* Container width */
    max-height: 600px;
    /* Limit the maximum height of the table */
    overflow-y: auto;
    /* Allow vertical scrolling */
    border: 1px solid #ddd;
    /* margin: 20px auto; Center the table */
}

table {
    width: 60vw;
    height: 50vh;
    /* width: 100%; */
    color: whitesmoke;
    font-size: "20px";
    margin: 1rem;
    text-align: center;
    border-spacing: 0 5px;
    border-collapse: separate;
    overflow: hidden;
    table-layout: fixed;
}

tbody tr {
    background-color: rgba(114, 143, 172, 0.1);
}

thead {
    background-color: #3c3742;
    position: sticky;
    top: 0;
    /* Keeps the header sticky while scrolling */
    z-index: 1;
    /* /* Ensures the header stays above content */
}

th,
td {
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* th:nth-child(1),
td:nth-child(1) {
    width: 5vw;
}

th:nth-child(2),
td:nth-child(2) {
    width: 10vw;
}

th:nth-child(5),
td:nth-child(5) {
    width: 10vw;
}

th:nth-child(4),
td:nth-child(4) {
    width: 25vw;
}

th:nth-child(3),
td:nth-child(3) {
    width: 25vw;
    padding-right: 1.5rem;
}

th:nth-child(6),
td:nth-child(6) {
    width: 2vw;
} */

tbody tr:hover {
    background-color: #7c634a;
    color: white;
}

.hover-icon {
    visibility: hidden;
    float: right;
}

tr:hover .hover-icon {
    visibility: visible;
    padding-right: 1rem;
}